{% extends "base.html" %}

{% block content %}
    <h1> About </h1>
    <p> 
        Minecraft is game about Building, Mining, crafting, hunting, farming and exploring. It became popular in Late 2010 And peaked in 2012 and 2013.
        In this game the goal for the game (atleast that many poeple think) is defeating the ender dragon while after that you either start a new world
        or build stuff in the old one. Wich in my case is boring and way to repeative so you could try out making stuff in creative, but i just try out
        mods or play servers like hypixel. Firstly mods there are a lot of cool ones but you shuoldn't make mod packs on your own and use the provided ones
        thats because a lot of mods aren't compatible with one another. And servers well they are self explanatory you play with people minecraft or minigames
        that are made there or SMPs there are some cool servers like i said hypixel also you can make your own server wich usualy cost but there are
        two ways to make the free first are local server wich are run on your computer but unless you are a specialist its pretty hard to set up without
        talking about the fact that you will have to give out your ip to let players joins. seconds is aternos wich has only one downside. Lag. aternos 
        can only handle like 5 player servers max. and even them they are going to lag.
    </p>
{% endblock %}