{% extends "base.html" %}

{% block content %}
    <h1> Gameplay </h1>
    <p> 
        Minecraft has two gamemodes they are survival and creative. Hardcore is just survival, but you can't respawn although you can bypass that 
        with totems of undying and spectator well the name says it you can only spectate although some insane people have somehow beaten Minecraft
        with it. Minecraft doesn't have that much progression it's made for building because you can cen the best gears in like 1 hour. 
        The progression looks like (Wood -> Stone) 1 min (Stone -> Iron) 3-10 mins (Iron -> Diamonds) 15 - 30 mins (Diamond -> Netherite) 30-45min.
        And beating the main boss the ender dragon take only like 30-45 mins if you try. So it's more made to make giant build and stuff like that.
    </p>
{% endblock %}