{% extends "base.html" %}

{% block content %}
    <h1> History </h1>
     
        <p>These are the major versions:</p>
        <p>Pre-Classic: Early unreleased versions from May 10 to May 16, 2009.</p>
        <p>Classic: Development from May 17 to November 10, 2009.</p>
        <p>Indev: In development from December 23, 2009, to February 23, 2010.</p>
        <p>Infdev: Infinite development from February 27 to June 30, 2010.</p>
        <p>Alpha: Development from June 30 to December 3, 2010.</p>
       <p> Beta: Development from December 20, 2010, to November 11, 2011.</p>
       <p> Release: Official release on November 18, 2011, at MINECON 2011.</p>
       <p> Latest Version: 1.21.11 as of early 2026. </p>
<p>
        While i could write every version there are 34 version without counting prefixes and infdev and lower versions.
        Although i could just copy paste everything from the minecraft wiki i would still need to edit through everything.
 </p>
{% endblock %}