{% extends "base.html" %}
{% block content %}

<h1 class="mc"> MINECRAFT </h1>
<p> 
    Minecraft is a block game made by Notch. It is a 3D game made in java. Its a sandbox adventure game in wich you need to survive and mine to 
    get better gear and build to protect yourself or just do it for fun. The first version was just a plain field with grass blocks and rocks bellow
    the and the was nothing special. But later it was sold to Jeb wich after that was developed by Mojang studios. It now has two main versions java
    and bedrock java is writen in well java and bedrock in C++. In September 15 2014 it was sold to microsoft for 2.5 bilion dollars. And was still
    developed by Mojang.
</p>

{% endblock %}