{% extends "base.html" %}
{% block content %}

<h1> Tips </h1>
<p> There's are a lot of tips that are in minecraft like to build up two block to fight mobs. Also there are resourse packs like Fullbright. 
    This resource pack makes everything brighter so that you can see in caves or during the night. Also you can download mods but that not 
    really a tip. Before 1.21.4 you leave a world and rejoin to not take damage from mobs or to swim back to safety because of spawn protection.
    Diamond spawn more frequently underwater also hostile mobs don't spawn in mushroom islands. Also a tip that isn't really a gameplay tip if
    you wanna make a mod, but don't know how java works or how to code entirely you can use Mcreator it helps very much and it also has plugins 
    to make it easier. Or instead if mods you can make a Datapack in it you just write json files that tell what to do and minecraft commands
    if you don't know how to make those json files you can use https://misode.github.io/ its a tool to make datapack easier to make.
</p>

{% endblock %}